{% extends "layout.html" %}
{% block content %}
    {% include "navbar.html" %}
    <div class="container mt-4">
        {% include "_messages.html" %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Colors</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Subtotal</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        {% for key , product in session['Shoppingcart'].items() %}
                        {% set discount = "%0.2f"|format((product.discount / 100) * product.price|float)  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><img src="{{ url_for('static', filename='images/' + product.image) }}" alt="product.name" width="50px" height="45px"></td>
                                <td>{{ product.name }}</td>
                                <form action="{{ url_for('updatecart', code=key) }}" method="post">
                                    <td>
                                        {% set colors = product.colors.split(',') %}
                                        <label for="colors">Colors: </label>
                                        <select name="color" id="color">
                                            <option value="{{ product.color }}" style="display: none;">{{ product.color|capitalize }}</option>
                                            {% for color in colors %}
                                                {% set col = color.split(':') %}
                                            <option value="{{col[0]}}">{{col[0]|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><input type="number" name="quantity" value="{{ product.quantity }}" min="1" max="{{ product.stock }}" ></td>
                                    <td>{{ product.price }}$</td>
                                    {% if product.discount > 0 %}
                                        <td>{{ product.discount }}% &nbsp; is {{discount}}$</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% set subtotal = product.quantity|int * (product.price|float - product.price|float / 100 * product.discount|int) %}
                                    <td>{{ subtotal }}$</td>
                                    <td><button type="submit" class="btn btn-sm btn-outline-success">Update</button></td>
                                </form>
                                <td><a href="{{ url_for('deletecart', id=key) }}" class="btn btn-sm btn-danger">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-sm">
                    <tr>
                        <td><a href="{{ url_for('index') }}" class="btn btn-sm btn-primary">Back</a></td>
                        <td width="35%"></td>
                        <td colspan="3"><h4>Grand Total: {{ subtotal }}$</h4></td>
                        <td><a href="{{ url_for('clearcart') }}"  ><img src="{{ url_for('static',filename='img/delete.png') }}" height="30px" width="30px" alt="Delete all" style="position: absolute; left: 94%;"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}