{% extends "layout.html" %}
{% block content %}
    {% include "navbar.html" %}
    <div class="container mt-4">
        {% include "_messages.html" %}
        <div class="row">
            <div class="col-md-12">
                Invoice: {{ orders.invoice }}
                <br>
                Status: {{ orders.status }}
                <br>
                Customer name: {{ customer.name }}
                <br>
                Customer email: {{ customer.email }}
                <br>
                Customer contact: {{ customer.contact }}
                <table class="table table-sm" style="margin-bottom: 0px;">
                    <thead>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Colors</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Subtotal</th>
                    </thead>
                    <tbody>
                        {% for key , product in orders.orders.items() %}
                        {% set discount = "%0.2f"|format((product.discount / 100) * product.price|float)  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ product.name }}</td>
                                <form action="{{ url_for('carts.updatecart', code=key) }}" method="post">
                                    <td>
                                        {{ product.color|capitalize }}
                                    </td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price }}$</td>
                                    {% if product.discount > 0 %}
                                        <td>{{ product.discount }}% &nbsp; is {{discount}}$</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% set subtotal = product.quantity|int * (product.price|float - product.price|float / 100 * product.discount|int) %}
                                    <td>{{ subtotal }}$</td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-sm">
                    <tr>
                        <td>
                            <form action="{{ url_for('customers.payment') }}" method="POST">
                                {% set amount = grandTotal.replace('.','') %}
                                <input type="hidden" name="amount" value="{{ amount }}">
                                <input type="hidden" name="invoice" value="{{ orders.invoice }}">
                                <script
                                    src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="pk_test_51KafOcIqqq3Njx21tbV3TU2sfxaRxLYokHbyj9r2diALpF9JQISmyLIgbHPkTcH6TH8tZeoHlgoqMHmKICtvzVye00bup1vMp4"
                                    data-name="Myshop"
                                    data-description="myshop"
                                    data-amount="{{amount}}"
                                    data-currency="usd">
                                </script>
                            </form>
                        </td>
                        <td width="35%"></td>
                        <td colspan="3"><h4>Grand Total: {{ grandTotal }}$</h4></td>
                        <td>
                        <form action="{{ url_for('customers.get_pdf',invoice=orders.invoice) }}" method="post">
                            <button type="submit" class="btn btn-primary">Get pdf</button>
                        </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}