{% extends "layout.html" %}
{% block content %}
    {% include "_messages.html" %}
    {% include "admin/adminnavbar.html" %}
    <div class="container mt-5 table-hover">
        <table class="table table-sm table-condensed table-striped">
            <thead>
                <th>{{_("Sr")}}</th>
                <th>{{_("Name")}}</th>
                <th>{{_("Edit")}}</th>
                <th>{{_("Delete")}}</th>
            </thead>

            <tbody>
                {% if brands %}
                {% for brand in brands %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ brand.name }}</td>
                        <td><a href="{{ url_for('products.updatebrand', id=brand.id) }}" class="btn btn-sm btn-outline-success">{{_("Edit")}}</a></td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{ brand.id }}">{{_("Delete")}}</button>
                        </td>
                    </tr>
                           
                    <div class="modal fade" id="exampleModal-{{ brand.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ brand.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="text-danger">{{_("Are you sure that you want to delete")}} ( {{ brand.name }} ) {{_("Brand?")}}</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{{_("Cancel")}}</button>
                            <form action="{{ url_for('products.deletebrand', id=brand.id) }}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">{{_("Delete")}}</button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}

                {% else %}
                {% for category in categories %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ category.name }}</td>
                        <td><a href="{{ url_for('products.updatecategory', id=category.id) }}" class="btn btn-sm btn-outline-success">Edit</a></td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{ category.id }}">Delete</button>
                        </td>
                    </tr>
                           
                    <div class="modal fade" id="exampleModal-{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ category.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="text-danger">Are you sure that you want to delete ( {{ category.name }} ) Category?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                            <form action="{{ url_for('products.deletecategory', id=category.id) }}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                 
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}
